<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/form.css" />
  <link rel="stylesheet" href="css/alert.css" />

  <title>Register</title>
</head>

<body>
  <form class="form-signin" action='/register' method='post'>
    <div class="text-center mb-4">
      <img class="mb-4" src="images/brand.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">RunIt</h1>
    </div>

    <div class="form-label-group">
      <input id="firstName" name="firstName" class="form-control" placeholder="First Name" autofocus=""
        pattern="[a-zA-Z]{5,20}" required title="5 to 20 characters with no spaces">
      <label for="firstName">First Name</label>
    </div>

    <%= print_error(errors, 'firstName') %>

    <div class="form-label-group">
      <input id="inputLastName" name="lastName" class="form-control" placeholder="Last Name"
        pattern="[a-zA-Z]{5,20}" required title="5 to 20 characters with no spaces">
      <label for="lastName">Last Name</label>
    </div>

    <%= print_error(errors, 'lastName') %>

    <div class="form-label-group">
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
      <label for="email">Email address</label>
    </div>

    <%= print_error(errors, 'email') %>

    <div class="form-label-group">
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"
        pattern=".{7,21}" required title="7 to 21 characters">
      <label for="Password">Password</label>
    </div>

    <%= print_error(errors, 'password') %>

    <div class="form-label-group">
      <input type="password" id="confirmPassword" name="passwordConfirmation" class="form-control" placeholder="Confirm Password"
        pattern=".{7,21}" required title="7 to 21 characters">
      <label for="confirmPassword">Confirm Password</label>
    </div>

    <%= print_error(errors, 'passwordConfirmation') %>

    <div class="checkbox mb-3">
      <a href="/login">Already have an account!</a>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted text-center">RunIt © 2017-2018</p>
  </form>

  <script src="js/register.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script>
  <!-- Used to fix the rendering error where a cached email or password exists -->
  $( document ).ready(function() {
      $('input[name=firstName][type="text"]').toggle();
    });
</script>

</html>
